// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-nav-color: #f3f6fa !default;
$header-bg-color: #91bd3a !default;
$header-bg-color-secondary: #ffa259 !default;

// Text
$section-headings-color: #185a9d !default;
$body-text-color: #606c71 !default;
$body-link-color: #a8b2bd !default;
$blockquote-text-color: #606c88 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #43cea2 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #a8b2bd !default;

// Status
$button-bg-color1: #91bd3a !default;
$button-bg-color2: #ffa259 !default;
$button-bg-color3: #fa4252 !default;
$button-bg-color4: #413c69 !default;
$button-bg-color5: #a8b2bd !default;
$button-bg-color6: #ffffff !default;
$button-txt-color: #ffffff !default;