---
layout: default
---
<table style: width="100%"; border="1">
  <tr>
    <th width="15%">No</th>
    <th width="40%">Jenis Kegiatan</th>
    <th width="25%">Batas Akhir</th>
    <th width="20%">Status</th>
  </tr>
  <tr>
    <td class="tengah">01</td>
    <td>SPM Gaji Induk PNS</td>
    <td class="tengah">Tgl 1 s.d. 15</td>
    <td class="tengah"> {% if page.sGJIND == "Sudah" %}
      <button class="btn green"><a href="../../blog">Sudah</a></button>  {% endif %}
      {% if page.sgaji == "Belum" %}
      <button class="btn yellow">Belum</a>  {% endif %}
      {% if page.sgaji == "Telat" %}
      <button class="btn Red">Telat</a>  {% endif %} </td>
  </tr>
  <tr>
    <td class="tengah">02</td>
    <td>SPM Penghasilan PPNPN</td>
    <td class="tengah">Tgl 21 s.d. 26</td>
    <td class="tengah"> {% if page.sPPNPN == "Sudah" %}
      <button class="btn green">Sudah</a>  {% endif %}
      {% if page.sppnpn == "Belum" %}
      <button class="btn yellow">Belum</a>  {% endif %}
      {% if page.sppnpn == "Telat" %}
      <button class="btn Red">Telat</a>  {% endif %} </td>
  </tr>
  <tr>
    <td class="tengah">03</td>
    <td>Laporan Saldo Rekening</td>
    <td class="tengah">Tgl 21 s.d. 26</td>
    <td class="tengah"> {% if page.sLSREK == "Sudah" %}
      <button class="btn green">Sudah</a>  {% endif %}
      {% if page.sppnpn == "Belum" %}
      <button class="btn yellow">Belum</a>  {% endif %}
      {% if page.sppnpn == "Telat" %}
      <button class="btn Red">Telat</a>  {% endif %} </td>
  </tr>
  <tr>
    <td class="tengah">04</td>
    <td>LPJ Bendahara Pengeluaran</td>
    <td class="tengah">Tgl 21 s.d. 26</td>
    <td class="tengah"> {% if page.sLPJBD == "Sudah" %}
      <button class="btn green">Sudah</a>  {% endif %}
      {% if page.sLPJBD == "Belum" %}
      <button class="btn yellow">Belum</a>  {% endif %}
      {% if page.sLPJBD == "Telat" %}
      <button class="btn Red">Telat</a>  {% endif %} </td>
  </tr>
  <tr>
    <td class="tengah">05</td>
    <td>LPJ Bendahara Penerimaan</td>
    <td class="tengah">Tgl 21 s.d. 26</td>
    <td class="tengah"> {% if page.sLPJBP == "Sudah" %}
      <button class="btn green">Sudah</a>  {% endif %}
      {% if page.sLPJBP == "Belum" %}
      <button class="btn yellow">Belum</a>  {% endif %}
      {% if page.sLPJBP == "Telat" %}
      <button class="btn Red">Telat</a>  {% endif %} </td>
  </tr>
  <tr>
    <td class="tengah">06</td>
    <td>Rekonsiliasi Eksternal</td>
    <td class="tengah">Tgl 21 s.d. 26</td>
    <td class="tengah"> {% if page.sREKON == "Sudah" %}
      <button class="btn green">Sudah</a>  {% endif %}
      {% if page.sREKON == "Belum" %}
      <button class="btn yellow">Belum</a>  {% endif %}
      {% if page.sREKON == "Telat" %}
      <button class="btn Red">Telat</a>  {% endif %} </td>
  </tr>
</table>